@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');

* {
	background-color: var(--close-but-not-white);
	box-sizing: border-box;
	color: var(--primary-text-color);
	font-family: var(--primary-font);
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

/* VARIABLES */
:root {
	--primary-font: 'Montserrat', sans-serif;
	--secondary-font: 'Poppins', sans-serif;
	--light-mode-color: #fcf8ec;
	--dark-mode-color: #121212;
	--primary-text-color: #333333;
	--close-but-not-white: #f6f5f1;
	--complimentary-color: #f1526d;
}

/* NAVBAR */
nav {
	overflow: hidden;
	background-color: #333;
	position: relative;
}

nav a i.fa-bars {
	border: none;
	color: var(--complimentary-color);
	outline: none;
}

nav a i.far-bars:active {
	border: none;
	outline: none;
}

nav div.mylinks {
	display: none;
}

nav a {
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

nav a.icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}

nav a:hover {
	color: black;
	text-decoration: underline;
}

.active {
	color: black;
}

div.mylinks a {
	align-items: center;
	display: flex;
	font-size: 14px;
	justify-content: center;
}

/* TOP CONTAINER */
div.top-container {
	height: 80vh;
}

div.top-container section {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10%;
}

div.top-container section h1.top-container__intro {
	font-family: var(--secondary-font);
	font-size: 1.5rem;
	margin: 10% auto 5%;
}

div.top-container section h4.top-container__title {
	font-size: 1.1rem;
	margin-bottom: 5%;
}

div.top-container section h6.top-container__subtitle {
	font-style: italic;
	margin-bottom: 10%;
}

div.top-container section object.top-container__svg-of-me {
	height: 300px;
}

/* SVG CONTAINER OF DESK */
div.desk-svg-container {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 1%;
}

div.desk-svg-container object.desk-svg-container__svg-of-desk {
	height: 155px;
}

/* FEATURED PROJECT SECTION */
section.second-container {
	align-items: center;
	background-color: var(--complimentary-color);
	clip-path: inset(0 0 0 0 round 0 30% 20% 60%);
	display: flex;
	height: 55vh;
	flex-direction: column;
	justify-content: center;
}

section.second-container h1.second-container__title {
	background: none;
	font-family: var(--secondary-font);
	margin-bottom: 10%;
	margin-top: -20%;
}

section.second-container figure {
	border-radius: 20%;
	box-shadow: 2px 2px 3px 1px #333333;
}

section.second-container figure img {
	height: 250px;
	border-collapse: separate;
	z-index: 1;
}

section.second-container figcaption {
	background-color: var(--complimentary-color);
	margin-top: 6%;
}

section.second-container figcaption a {
	background: none;
	color: var(--primary-text-color);
	font-size: 0.7rem;
	letter-spacing: 2px;
	margin-left: 5px;
	text-decoration: none;
	text-transform: uppercase;
}

section.second-container figcaption a:hover {
	color: var(--close-but-not-white);
	text-decoration: underline;
}

/* OTHE PROJECTS SECTION */
section.github {
	height: 40vh;
	margin-top: 10%;
}

section.github h2.github_title {
	font-family: var(--secondary-font);
	margin: 10% auto 2%;
	text-align: center;
}

section.github ul.githubRepos {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

section.github ul.githubRepos li {
	list-style-type: none;
	margin: 2%;
	color: var(--dark-mode-color);
}

section.github ul.githubRepos li a {
	color: var(--dark-mode-color);
	font-family: var(--primary-font);
	font-style: italic;
	font-size: 0.8rem;
	text-decoration: none;
}

section.github ul.githubRepos li a:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* FOOTER */
footer {
	background-color: var(--complimentary-color);
	clip-path: inset(0 0 0 0 round 5% 70% 0 0);
}

footer div.footer__links {
	align-items: center;
	background-color: var(--complimentary-color);
	display: flex;
	justify-content: space-evenly;
	margin: 5% 1% auto;
}

footer div.footer__links a i:active {
	border: none;
	outline: none;
}

footer div.footer__links a i:hover {
	text-decoration: underline;
}

footer div.footer__links a {
	background-color: var(--complimentary-color);
}

footer div.footer__links a i {
	background-color: var(--complimentary-color);
	color: var(--close-but-not-white);
}

footer div {
	background-color: var(--complimentary-color);
	height: 3vh;
	margin-top: 1%;
	text-align: center;
}

footer div a {
	background-color: var(--complimentary-color);
	text-decoration: none;
}

footer div a i.fa-file-code {
	background-color: var(--complimentary-color);
	color: var(--close-but-not-white);
}
