@import url("https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.navbar {
  background: white;
  margin: 2% 10%;
}

.logo:hover {
  background: none !important;
  color: #333 !important;
}

.name {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 2rem;
}

.hire-me {
  background: #f1526d !important;
  color: white !important;
}

.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.title {
  font-family: "Poppins", sans-serif;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  margin-top: 2% !important;
}

.container-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100vh;
}

.summary-skills {
  height: 60vh;
  width: 100%;
  background: #f1526d;
  margin-top: -6%;
}

.summary-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}

.summary-title {
  margin: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}

.summary-description {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 40%;
}

.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: -4%;
  padding-top: 1rem;
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  /* color: #f1526d; */
}

.subtitle {
  font-family: "Monserrat", sans-serif;
  text-align: center;
}

.fas {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10%;
  color: #f1526d;
}

.link {
  color: #f1526d;
}

.card-content {
  padding: 3rem;
  margin-bottom: 25%;
  line-height: 2rem;
}

.card-1 {
  border-top-left-radius: 25%;
  border-bottom-left-radius: 25%;
}

.card-3 {
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
}

.work-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: auto 10%;
}

.work-title {
  font-family: "Poppin", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  /* color: #f1526d; */
  margin-bottom: 5%;
}

/* Recent Work Gallery */
.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.links a {
  color: #f1526d;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background: #f1526d;
}

.fab,
.far {
  margin: auto 10%;
  margin-top: 5%;
  font-size: 2rem;
  color: white;
  border-radius: 50%;
  border: 1px none solid;
  padding: 10px;
}

.fab:hover,
.far:hover {
  border-radius: 50%;
  background: white;
  color: #f1526d;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: white;
}

.footer-image {
  height: 100px;
  width: 100px;
  background: white;
  border-radius: 50%;
  margin-bottom: 2%;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

/* Mobile */
@media (min-width: 400px) and (max-width: 720px) {
  * {
    width: auto;
  }

  .navbar {
    width: auto;
  }

  #svg-desk {
    width: auto;
  }

  .container {
    flex-direction: column;
  }

  .name {
    font-size: 1rem;
  }

  #svg-me {
    height: 200px;
    width: 200px;
  }

  .container-two {
    margin-top: -50%;
    width: auto;
  }

  .summary-skills {
    margin-top: -35%;
    height: 30vh;
  }

  .summary-title,
  .work-title {
    font-size: 1.5rem;
  }

  .summary-description {
    font-size: 1rem;
    margin: auto 10% 5%;
  }

  .card-section {
    display: flex;
    padding-top: 0;
    margin: -45% auto 20%;
    flex-direction: column;
  }

  .card-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }

  .card-1 {
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 0%;
  }

  .card-3 {
    border-top-right-radius: 0%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }

  .work-title {
    margin-bottom: 20%;
  }

  .work-container a {
    margin-bottom: 10%;
    width: auto;
  }

  .footer {
    width: auto;
  }

  .footer-image {
    height: 50px;
    width: 50px;
  }

  .navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }
}
